<template>
<el-container>
    <el-header class="header">
        <el-row>
            <el-col :span="24">
                <div class="grid-content bg-purple-dark">
                    <h1>Compare weather app</h1>
                </div>
            </el-col>
        </el-row>
    </el-header>
    <el-main>
         <form-component/>
    </el-main>
        
</el-container>
</template>
<script>
import FormComponent from './FormComponent.vue'
export default {
  components: {
    FormComponent
  }
}
</script>
<style>
    .header {
        text-align: center
    }
</style>
