<template>
    <div>
        <el-row>
            <h3>Please insert cities to compare, splitted by commas:</h3>   
        </el-row>
        <el-row >            
            <el-form ref="form" :model="form" @submit.prevent.native="onSubmit" >
                <el-form-item>
                    <el-input v-model="form.cities"></el-input>
                </el-form-item>
                <div v-if="errors != ''" class="error-block">
                    We got from the server the following error: {{errors}}
                </div>
                <el-form-item>
                    <el-button type="primary" @click="onSubmit" >Compare!</el-button>
                    <el-button type="primary" @click="restart">Restart</el-button>
                </el-form-item>
            </el-form>
        </el-row>
        <el-row>
            <div v-if="bestSelected.length > 0" class="results-block">
                From the cities you entered, we think {{bestSelectedString}} the best weather, enjoy your time there!
            </div>
            

        </el-row>
    </div>
</template>
<script>
import axios from 'axios'
export default {
    data() {
        return {
            form: {
                cities: ""
            },
            bestSelected: [],
            errors: ""
        }
    },
    methods: {
        onSubmit: async function() {
            this.bestSelected = ""
            this.errors = ""
            const apiCall = 'http://localhost:8000/api/weather/compare/' + this.form.cities;
            try {
                this.bestSelected = JSON.parse((await axios.get(apiCall)).data)
            }catch(exception) {
                this.errors = exception.response.data.errors
            }
        },
        restart: function() {
            this.form.cities = ""
            this.bestSelected = ""
            this.errors = ""
        }
    },
    computed: {
        bestSelectedString: function() {
            if (this.bestSelected.length === 1) {
            return this.bestSelected[0]+ ' has '     
            } else if (this.bestSelected.length > 1) {
                let string = this.bestSelected.slice(0, this.bestSelected.length - 1).join(', ')
                return string + ' and ' + this.bestSelected.slice(-1) + ' share '
            }
            return ''
        }
    }
}

</script>
<style>
    .header {
        text-align: center
    }
    .error-block {
        border: 1px solid red;
        background-color: pink;
        padding: 15px;
        margin-bottom: 22px;
    }
    .results-block {
        border: 1px solid green;
        background-color: #90EE90;
        padding: 15px;
    }
</style>
